<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h1>Proyecto BesApp, y yo</h1>
    <p>El proyecto esta destinado a un micro emprendimiento de mi hermana, Bes Objetos lo cual esta destinado a la venta de Objetos
        que no son comunes en mi ciudad. Claramente existe minitienda nube, pero me serivio para poder realizar el proyecto.
        AL proyecto le faltan muchos template y mucho codeo, pero una base creo que esta.
    </p>
    <h2>Sobre mi</h2>
    <p>Soy Agustin Borio, tengo 27 años, nacido en Rafaela, santa fe. Actualmente viviendo en Islas Bermudas como habia comentado una vez por chat de Zoom
        EL dia 30 de dicimbre me encuentro en esta localizacion ya que mi novia consiguio trabajo, estaba estudiando contador publico en ese momento pero a la apurada de la toma de decision y que la facultad
        no me dejo realizar la carrera a distancia (y que tampoco estaba convencido) decido por medio de coder incursionar en programacion que era otra rama que me llamaba la atencion
        ya me anote a los cursos de desarrollo web y completar la carrera de desarrollo full stack con la esperanza de poder conseguir algun trabajo
    </p>
    <h3>Sobre el proyecto</h3>
    <p>Como habia comentado a Martin, la anterior entrega la habia realizado toda yo solo y le habia dicho al grupo que ese proyecto lo entregaba esperando que en el siguiente se pongan al dia y
        puedan ayudarme con el proyecto final. Pasados los dias les hable y uno estaba de vacaciones y el otro estaba atrazado, por lo cual decidi seguir el camino por mi solo. Me quedara pendiente el aprender
        a trabajar en estas cosas en equipo, que por lo que entiendo es un factor clave.
    </p>
</body>
</html>