<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    
    <table>
        
        {{ form.as_table }}
        {% csrf_token %}
    </table>
    <a href="{% url 'agregarAvatar' %}">Si queres agregar un avatar Aqui!</a>
    <br>
    <a href="{% url 'editarPerfil' %}">Si queres editar perfil</a>
    
</body>
</html>